.description-card {
  margin-top: 20px;
  padding: 24px;
  background-color: #fff;
}

.desc-content {
  border: 1px solid #c3c3c3;
  width: 100%;
}

.text-button {
  color: #00a790;
  display: inline-block;
  text-align: center;
  width: 100%;
  margin-bottom: 5px;
  font-size: 1.17em;
  cursor: pointer;
}

